<!DOCTYPE html>

<h1>Výpočet čisté mzdy a odvodů:</h1>
<body class="standard"> 
    <form><br>
        <label for="numsalary">Hrubá mzda:</label><br>
        <input type="number" id="numsalary" onfocus="this.value=''" name="buttonSalary" [(ngModel)]="inputWage"><br>
        <label for="numkids">Počet dětí:</label><br>
        <input type="number" id="numkids" onfocus="this.value=''" name="buttonKids" [(ngModel)]="inputNumKids"><br>
        <label for="numhandykids">Počet dětí ZTP/P:</label><br>
        <input type="number" id="numhandykids" onfocus="this.value=''" name="buttonhandyKids" [(ngModel)]="inputNumKidsHandy"><br>
        <label for="disability">Invalidita:</label><br>
        <select [(ngModel)]="eventDisabled" name="selectedDisability" (ngModelChange)="onSelectDisability($event)">
            <option class="dropdown" *ngFor="let disability of disabilities" [value]="disability.value">
              {{ disability.name }}
            </option>
          </select><br><br>
        <!-- <select [(ngModel)]="selectedDisability" name="selectedDisability" (ngModelChange)="onSelectDisability($event)">
            <option id="0">Žádná</option>
            <option id="1">Částečná invalidita</option>
            <option id="2">Plná invalidita</option>
            <option id="3">Držitel ZTP/P</option>
        </select><br> -->
        <button type="button" class="pointer" (click)="onClick()">Vypočítej!</button><br><br>
    </form>
</body>

<body class="standard">
    <h2>Výpočet čisté mzdy:</h2>
    <h3>{{NetWorth_F}}</h3>
    <h3 class="ErrorCatchPhrase">{{ErrorCatchPhrase}}</h3>
</body>

<body class="review">
    <form>
        <h2>Odvody a tok pěněz zaměstnance:</h2>
        <div class="data">
            <div class="column" id="showResultHere">Sociální pojištění (6,5%)
                <div class="row" style="float: right">
                    {{SocialInsurance_F}}
                </div>
            </div>
        </div>
        <div class="data">
            <div class="column" id="showResultHere">Zdravotní pojištění (4,5%)
                <div class="row" style="float: right">
                    {{HealthInsurance_F}}
                </div>
            </div>
        </div>
        <div class="data">
            <div class="column" id="showResultHere">Nemocenské pojištění (0,6%)
                <div class="row" style="float: right">
                    {{InjuryInsurance_F}}
                </div>
            </div>
        </div>
        <div class="data">
            <div class="column" id="showResultHere">Daň ze mzdy {{IncomeTaxPhrase}}
                <div class="row" style="float: right">
                    {{IncomeTax_F}}
                </div>
            </div>
        </div>
        <div class="data">
            <div class="column" id="showResultHere">Sleva na daňového poplatníka
                <div class="row" style="float: right">
                    {{TaxDiscount_F}}
                </div>
            </div>
        </div>
        <div class="data">
            <div class="column" id="showResultHere">Slevy na děti ({{inputNumKids}})
                <div class="row" style="float: right">
                    {{TotalTaxDiscountKids_F}}
                </div>
            </div>
        </div><br>
      </form>
</body>

<body class="review">
    <form>
        <h2>Zaměstnavatel platí za zaměstnance:</h2>
        <div class="data">
            <div class="column" id="showResultHere">Sociální pojištění (24,8%)
                <div class="row" style="float: right">
                    {{SocialInsuranceEmployer_F}}
                </div>
            </div>
        </div>
        <div class="data">
            <div class="column" id="showResultHere">Zdravotní pojištění (9%)
                <div class="row" style="float: right">
                    {{HealthInsuranceEmployer_F}}
                </div>
            </div>
        </div>
        <div class="data">
            <div class="column" id="showResultHere">Celkové náklady na zaměstnance:
                <div class="row" style="float: right">
                    {{TotalEmployerExpense_F}}
                </div>
            </div>
        </div><br>
      </form>
</body>